.contactPage {
    margin-top: 65px;
    padding: 120px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        font-size: 293px;
        font-family: var(--font-boska);
        font-weight: 500 !important;
        line-height: 1em;
        text-transform: uppercase;
        color: var(--black-color);
        margin: 0px;
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
        width: 100%;

        li {
            a {
                color: var(--link-color);
                text-transform: uppercase;
                font-size: 15.65px;
                font-family: var(--font-inter);
                font-weight: 400 !important;
                transition: 0.3s all ease-in-out;
                padding: 5px;
                display: inline-flex;

                &:hover {
                    color: var(--black-color);
                    text-decoration: underline;
                }
            }
        }
    }
}
